:root{
    --background-light: rgb(91, 186, 250);
}

html, body, main{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
}

#content {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 60vw;
    border: 4px solid black;
}

/* Header */

header {
    display: flex;
    background-color: rgba(143, 5, 1, 0.61);
}

.logo {
    display: flex;
    background-color: red;
    background:
        linear-gradient(-45deg, transparent 30%, red 0);
}

.icon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* position: relative;
    top: -10vh;
    left: -5vw;
    transform: scale(0.3); */
}

.subtitle {
    height: 50%;
    width: 100%;
    background-color: rgb(255, 145, 0);
}

/* Main: Sidebar and Project Display */

main {
    display: flex;
    align-items: stretch;
}

main > * {
    padding: 1em;
}

/* Sidebar */

.sidebar {
    width: 15vw;
    border: 4px solid white;
}

.sidebar > * {
    margin: 1em;
}

.general-tab:hover, .sidebar-project:hover {
    text-shadow: 2px 2px white;
}

.sidebar-project {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
    cursor: default;
}

/* .project-form {
    display: none;
} */

.new-project {
    margin: 0 1em;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
}

.new-project:hover {
    border-bottom: 2px solid red;
}

.new-project:focus {
    outline: none;
    box-shadow: 0 0 4px red;
}

.delete-project {
    display: none;
}

.sidebar-project:hover .delete-project {
    display: block;
}

.delete-project:hover {
    cursor: pointer;
}

.onDisplay {
    background-color: rgba(122, 0, 153, 0.637);
}

/* Project Display */

.task {
    border: 2px solid white;
}

.task-header {
    display: flex;
    cursor: pointer;
}
.task-action:hover {
    text-shadow: 2px 2px white;
}

input[type='checkbox']:checked ~ *:not(.task-action) {
    text-decoration: line-through;
}

.show-detail {
    background-color: red;
}

.task-detail {
    display: none;
    overflow: hidden;
    padding: 0 18px;
    background-color: #f1f1f1;
}

.labels {
    display: flex;
}

.notes {
    display: flex;
}

.task-form {
    display: none;
}

/* Edit Task Modal */

.bg-modal {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    display: flex;
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    font-size: 32px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: stretch;
    overflow-y:hidden;
}

hr {
    border: #315a83 4px solid;
}

ul {
    padding-left: 0;
    font-size: 28px;
}

li {
    display: flex;
    flex-direction: column;
}
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #7b1800;
    width: 450px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-item {
    font-size: 28px;
    color: #aaa5a5;
    display: block;
    transition: 0.3s;
    padding: 10px 38px;
    border-bottom: #315a83 4px solid;
}

.sidebar-item:hover {
    color: #efe74a;
    background-color: #3184C6;
    cursor: pointer;
}

.sidebar-title {
    text-align: center;
    background-color: #BC1828;
    color: #ddd2d2;
    padding: 10px;
    font-size: 40px;
}

.main {
    background-color: #6BB5E7;
    width: 100%;
    padding: 50px;
}

.project-container {
    padding: 5px 26px;
}

.project-title {
    font-size: 40px;
}

.project-list-item {
    display: flex;
    align-items: center;
}

.project-list-item:hover {
    border: #315a83 4px solid;
    cursor: pointer;
}

.quick-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.quickinfo-subcontainer {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.new-todo-input {
    font-size: 28px;
    width: 100%;
}

.labels-container {
    display: flex;
}

.priority-0 {
    background-color: white;
}

.priority-1 {
    background-color: #ffc552;
}

.priority-2 {
    background-color: #e67b7b;
}

.priority-3 {
    background-color: #7b1800;
    color: white;
}

button {
    font-size: 24px;
    border-radius: 20px;
    background-color: #3184C6;
}

#add-todo-button {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.new-project-input {
    background-color: #7b1800;
    border-width: 0px;
    font-size: 28px;
    color: #aaa5a5;
    width: 100%;
}

input:focus, textarea:focus, select:focus {
    outline: none;
} */