body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: stretch;
    overflow-y:hidden;
}

hr {
    border: #315a83 4px solid;
}

ul {
    padding-left: 0;
    font-size: 28px;
}

li {
    display: flex;
    flex-direction: column;
}
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #7b1800;
    width: 450px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-item {
    font-size: 28px;
    color: #aaa5a5;
    display: block;
    transition: 0.3s;
    padding: 10px 38px;
    border-bottom: #315a83 4px solid;
}

.sidebar-item:hover {
    color: #efe74a;
    background-color: #3184C6;
    cursor: pointer;
}

.sidebar-title {
    text-align: center;
    background-color: #BC1828;
    color: #ddd2d2;
    padding: 10px;
    font-size: 40px;
}

.main {
    background-color: #6BB5E7;
    width: 100%;
    padding: 50px;
}

.project-container {
    padding: 5px 26px;
}

.project-title {
    font-size: 40px;
}

.project-list-item {
    display: flex;
    align-items: center;
}

.project-list-item:hover {
    border: #315a83 4px solid;
    cursor: pointer;
}

.quick-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.quickinfo-subcontainer {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.new-todo-input {
    font-size: 28px;
    width: 100%;
}

.labels-container {
    display: flex;
}

.priority-0 {
    background-color: white;
}

.priority-1 {
    background-color: #ffc552;
}

.priority-2 {
    background-color: #e67b7b;
}

.priority-3 {
    background-color: #7b1800;
    color: white;
}

button {
    font-size: 24px;
    border-radius: 20px;
    background-color: #3184C6;
}

#add-todo-button {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.new-project-input {
    background-color: #7b1800;
    border-width: 0px;
    font-size: 28px;
    color: #aaa5a5;
    width: 100%;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}