@font-face { font-family: PokemonSolid; src: url(fonts/pokemon/Pokemon\ Solid.ttf) }

@font-face { font-family: PokemonHollow; src: url(fonts/pokemon/Pokemon\ Hollow.ttf) }

@font-face { font-family: PokemonText; src: url(fonts/PokemonGb-RAeo.ttf) }

@font-face { font-family: BubbleRainbow; src: url(fonts/BubbleRainbow-VGdn0.ttf) }

:root{
    --background-light:  #bc1828;
    --bright-yellow-accent: #efe74a;
    --light-blue-accent: #6bb5e7;
    --dark-blue-accent: #3184c6;
    --dark-orange-accent: #cc4121;
    --logo-yellow: #ffcb05;
    --logo-blue: #3c5aa6;
    --logo-dark-blue: #0a285f;
}

html, body, main{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/orangedroplet/falling-leaf.jpg);
    background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vw;
    background-color: var(--background-light);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.596);
}

/* Header */

header {
    display: flex;
    height: 15rem;
    background-color: var(--background-light);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 35vw;
    background-color: red;
    background:
        linear-gradient(-30deg, transparent 4.4rem, red 0);
    font-size: 2rem;
}

h1, h2 {
    font-family: PokemonSolid, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: -.5rem .3rem var(--logo-dark-blue);
    -webkit-text-fill-color: var(--logo-yellow);
    -webkit-text-stroke: 0.25rem var(--logo-blue);
}

.icon {
    height: 100px;
    width: 100px;
    border: 0.25rem solid white;
    border-radius: 50%;
    background-color: rgb(0, 204, 255);
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57%;
    width: 100%;
    background-color: red;
    color: white;
    font-family: BubbleRainbow, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.25rem;
    text-shadow: -0.1rem 0.1rem var(--logo-dark-blue);
    -webkit-text-stroke: 0.15rem var(--logo-blue);
}

/* Main: Sidebar and Project Display */

main {
    display: flex;
    align-items: stretch;
}

main > * {
    padding: 1em;
}

hr {
    width: 60%;
    height: 1px;
    border: 2px solid var(--light-blue-accent);
    background-color: var(--light-blue-accent);
}

.material-icons {
    display: none;
    padding-top: 0.3rem;
    padding-right: 0.3rem;
    color: var(--bright-yellow-accent);
    transform: scale(1.5);
}

/* Sidebar */

.sidebar {
    flex: 1;
    width: 20vw;
    border-right: 3px solid var(--dark-blue-accent);
    padding-right: 0;
    background-color: #bc1828;
    color: var(--bright-yellow-accent);
    font-family: PokemonSolid;
    font-size: 1.75rem;
}

.sidebar > * {
    margin: 0.5rem 0 0.5rem 0.5rem;
    text-shadow: -0.25rem 0.25rem 0.25rem var(--logo-dark-blue);
}

.sidebar-tab {
    padding: 0.5rem;
    padding-right: 0;
    border-radius: 1rem;
    cursor: default;
}

.general-tab:hover, .sidebar-project:hover {
    border: 0.2rem solid var(--dark-blue-accent);
}

.sidebar-project {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    padding-right: 0;
    cursor: default;
}

.new-project {
    margin-left: 1rem;
    border: 0;
    border-bottom: 0.2rem solid var(--light-blue-accent);
    background-color: transparent;
    color: var(--bright-yellow-accent);
    font-family: PokemonSolid, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.new-project::placeholder {
    font-family: PokemonSolid, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--logo-dark-blue);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.05rem var(--logo-dark-blue);
}

.new-project:hover {
    border-bottom: 0.3rem solid var(--bright-yellow-accent);
}

.new-project:focus {
    border-bottom: 0.3rem solid var(--bright-yellow-accent);
    border-radius: 0.5rem;
    background-color: var(--dark-blue-accent);
    outline: none;
    box-shadow: 0 0 2rem var(--bright-yellow-accent);
}

.sidebar-project:hover .material-icons {
    display: block;
}

.material-icons:hover {
    cursor: pointer;
}

.onDisplay {
    background-color: var(--dark-blue-accent);
}

.project-form {
    margin: 0.5rem;
}

/* Project Display */

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.display {
    position: relative;
    flex: 3;
    width: 100%;
}

.project-element > hr {
    width: 30%;
    margin-top: 0;
    margin-bottom: 2rem;
}

.task {
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    font-family: PokemonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}

.task:hover {
    border-color: black;
    color: black;
}

.task:hover .material-icons {
    display: block;
}

.task-header {
    position: relative;
    display: flex;
    cursor: pointer;
}

.task-title {
    margin-top: 0.25rem;
}

.task-duedate {
    position: absolute;
    top: 25%;
    left: 65%;
    font-size: 1rem;;
}

.task-action {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: -30%;
    right: 2%;
}

.task-action > *:hover {
    -webkit-text-stroke: 0.05rem black;
}

input[type='checkbox'] {
    margin-right: 1rem;
    transform: scale(1.5);
}

input[type='checkbox']:checked ~ *:not(.task-action) {
    text-decoration: line-through;
}

.show-detail {
    background-color: var(--light-blue-accent);
    color: black;
}

.task-detail {
    display: none;
    overflow: hidden;
    padding: 1rem 0.25rem;
    margin: 0.5rem;
    background-color: #f1f1f1;
}

.task-detail > * {
    padding: 0.5rem;
}

.labels {
    display: flex;
}

.notes {
    display: flex;
}

/* Forms */

.task-form {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: white;
    border-radius: 0.75rem;
}

.task-form *:not(.add-close, .taskform-line1) {
    font-family: PokemonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;
}

#new-task {
    width: 50%;
}

#new-priority {
    padding-left: 0;
}

#new-task-labels, #new-task-notes {
    width: 80%;
}

label[for=new-task-notes] {
    vertical-align: top;
}
.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 85%;
    left: 90%;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    font-weight: bolder;
    transform: scale(2);
    cursor: pointer;
}

/* Edit Task Modal */

.bg-modal {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    font-size: 32px;
}

.close {
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

#edit-close {
    position: absolute;
    top: 0;
    right: 14px;
}

#add-close {
    position: absolute;
    top: 0;
    left: 94%;
}

/* .priority-0 {
    background-color: white;
}

.priority-1 {
    background-color: #ffc552;
}

.priority-2 {
    background-color: #e67b7b;
}

.priority-3 {
    background-color: #7b1800;
    color: white;
} */